body {
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.heading {
  text-align: center;
  font-size: 1.75rem;
}

.col-wrapper {
  background-color: grey;
  border: 1px solid black;
  margin: 10px;
  padding: 15px;
  padding-top: 25px;
  height: 150px;
  position: relative;
}

.title {
  font-size: 1.25rem;
  background-color: lightcoral;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding: 5px 10px 5px 10px;
  width: 150px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.title1 {
  background-color: brown;
  color: white;
}

.title2 {
  background-color: rgb(161, 68, 68);
  color: white;
}

.title3 {
  background-color: rgb(170, 122, 122);
  color: white;
}

p {
  font-size: 1rem;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33333%;
    height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 50%;
    height: 100%;
  }

  .col-md-12 {
    float: left;
    width: 100%;
    height: 100%;
  }
}
